@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Rock+Salt&display=swap');



:root{
    --vertical-space: 2rem;
    --horizontal-space:3rem;
    
    --light-color:#3dc8eb;
    --body-color:#404040;
    --heading-color:#3dc8eb;
    --contrast-color:#e91d1d;
}

body{
    font-size: 18px;
    line-height: 1.5;
    font-family: 'Rock Salt', cursive;
    background-color: #e0e0e0;
    background-image: url("https://www.transparenttextures.com/patterns/lined-paper.png");
    color: var(--body-color);
}

h1.h2.h3{
    line-height: 1.2;
    color: var(--heading-color);
}

a {
    color:var(--body-color);
    text-decoration-color: var(--contrast-color);
}

a:hover{
    color:var(--contrast-color);
}

body#about #pfp {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    margin-right:var(--horizontal-space);
}

p{
    max-width: 50em;
    font-family: 'Gloria Hallelujah', cursive;

}

body{
    display: grid;
    grid-template-areas: "head head"
                         "nav nav"
                         "main main"
                         "foot foot";
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto auto 1fr auto;
}

@media screen and (min-width:23.4em){
    body{
        grid-template-areas: "head head"
                             "nav main"
                             "foot foot";
        grid-template-rows: auto 1fr auto;

    }
}

body > *{
    padding-left: 4rem;
}

body > header{
    grid-area: head;
}
body > nav{
    grid-area: nav;
}

body > nav ul{
    list-style-type: none;
    padding: 0;
}

body > nav ul li{
    /* display: inline; */
    padding-right: 1rem;

}

body > main{
    grid-area: main;
}
body > footer{
    grid-area: foot;
}

header, footer{
    padding-left: var(--vertical-space);
    padding-right: var(--vertical-space);

}

header h1, footer h1{
    margin: 0;
}

body#portfolio ul#portfolioItems{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    list-style-type: none;
    padding: 0;
}
@media screen and (min-width:23.4em){

    body#portfolio ul#portfolioItems li{
        flex-basiS:48%;
        padding-right: 2%;
    }

}



body#portfolio ul#portfolioItems li img{
    max-width: 100%;
}